#user-image{
font-size: 40px;
cursor: pointer;
}

.nav-content-color{
    background-color: aqua;
}

#settings-icon{
    font-size: 15px;
    margin-right: 4px;
    margin-left: 4px;
    cursor: pointer;
    
}

.content-user{
    width: 20%;
    display: block;
    text-align:end ;

}

#Theme{
    cursor: pointer;
}