.task-content{
    display: block;
    width: 80%;
    min-width: 350px;
    align-items: center;
}

#input-search{
  display: block;
}

#txtsearch{
  margin-top: 3%;
}

#active-purple-2 #title-task[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #5DADE2 ;
  box-shadow: 0 1px 0 0 #5DADE2 ;
  }

 
 
